.project
.classpath
.settings/
bin/
out/
.idea/
*.iml
/target/
target/
bin/
build/
translation/
remapping/
settings.xml
gradle/
.DS_STORE
lib/
.gradle/
src/main/java/me/aberdeener/vaultmcbot/config.json
